.col-md-9 {
	font-size: 16px;
	line-height: 24px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.col-lg-12 {
	text-align: center;
}

.bio-pic {
	margin-top: 20px;
}

.col-md-3 {
	}

.col-md-6 {
	
}

.page-header-1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

.page-header-2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}


.github {
	width: 50px;
	height: 50px;
}

.linkedin {
	width: 50px;
	height: 50px;
}

.stack {
	width: 50px;
	height: 50px;
}